<!--New.html.erb
	Ryan Haines
	Allows for user to upload a new photo using the CarrierWave gem attachment
	uploader. Error messages are generated if any field is left empty. Form was
	created using bootstrap-sass gem. Based off of tutorialspoint.com file upload
	tutorial.-->
<h1>Upload a new photo</h1>
<p>Please choose a file to upload and enter a reference name for your photo.</p>

<%# Prints error messages if input is invalid %>
<% if !@photo.errors.empty? %>
	<div class = "alert alert-error">

		<ul>
			<% @photo.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>	

	</div>
<% end %>

       <%# Creates a form for uploading a photo %>
<div class= "well">
	<%= form_for @photo, html: { multipart: true } do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :tag %>
		<%= f.text_field :tag %>
		<%= f.label :attachment %>
		<%= f.file_field :attachment %>
		<%= f.submit "Save", class: "btn btn-primary" %>
		<%= link_to "Photos", photos_path %>
	<% end %>

</div>